<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="5d92efb7-cbed-4edc-bd88-d35d39a73216" Publisher="CN=Meusesoft" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5d92efb7-cbed-4edc-bd88-d35d39a73216" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Pebble Time Manager</DisplayName>
    <PublisherDisplayName>Meusesoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo_100.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Pebble_Time_Manager.App">
      <uap:VisualElements DisplayName="Pebble Time Manager 10" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Pebble Time Manager" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0088FF" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="pebblejs">
            <uap:DisplayName>Pebble</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.BackgroundSynchronizer">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.BackgroundCommunication">
          <BackgroundTasks>
            <Task Type="deviceUse" />
            <Task Type="bluetooth" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="appointments" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>